<nav>
    <div class="site-tile">
        <a href="/">Home</a>
        <p>Home page</p>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create Blog</a></li>
    </ul>
</nav>