<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem esse, assumenda reiciendis commodi sunt rerum alias non pariatur reprehenderit, nam dolorum optio possimus, in sit amet iusto minus voluptatem laudantium. Nisi esse, veritatis molestias fuga cumque nostrum quisquam consectetur laboriosam ullam illum quaerat reprehenderit vel necessitatibus doloremque. Laborum, voluptatem reprehenderit?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem esse, assumenda reiciendis commodi sunt rerum alias non pariatur reprehenderit, nam dolorum optio possimus, in sit amet iusto minus voluptatem laudantium. Nisi esse, veritatis molestias fuga cumque nostrum quisquam consectetur laboriosam ullam illum quaerat reprehenderit vel necessitatibus doloremque. Laborum, voluptatem reprehenderit?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem esse, assumenda reiciendis commodi sunt rerum alias non pariatur reprehenderit, nam dolorum optio possimus, in sit amet iusto minus voluptatem laudantium. Nisi esse, veritatis molestias fuga cumque nostrum quisquam consectetur laboriosam ullam illum quaerat reprehenderit vel necessitatibus doloremque. Laborum, voluptatem reprehenderit?</p>

            
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>