<html>
    <%- include('./partials/head.ejs') %>

    <body>
        <!--<%- include('./partials/nav.ejs') %>-->
        <nav>
            <ul>
                <li><a href="/">Home page</a></li>

                <% if (user) { %>
                    <li><a href="/profile/">Profile</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                <% } %>
            </ul>
        </nav>

        <header>
            <h1>OAuth training</h1>
            <h2>Homepage</h2>
        </header>

        <main>
            <p>OAuth traiuning</p>
        </main>




        <%- include('./partials/footer.ejs') %>
    </body>
</html>