<html>
    <%- include('../partials/head.ejs') %>

    <body>
        <nav>
            <ul>
                <li><a href="/">Home page</a></li>

                <% if (user) { %>
                    <li><a href="/profile/">Profile</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                <% } %>
            </ul>
        </nav>

        <header>
            <h1>Welcome to your profile <%= user.username %></h1>
            <img src="<%= user.thumbnail %>" alt="Profile picture">
        </header>

        <main>
            <p>Add extra in formations</p>
        </main>




        <%- include('../partials/footer.ejs') %>
    </body>
</html>